.home {
  h1 {
    font-size: 50px;
  }
}
.home-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  background: url(https://image.shutterstock.com/image-photo/business-developer-hand-using-kanban-600w-2082257050.jpg);
}
